<h1>Cambio Climatico</h1>

<p>La energía recibida por la Tierra desde el Sol, debe estar en balance con la radiación emitida desde la superficie terrestre, o sea, debe haber un equilibrio energético. Cualquier factor que genere un cambio sostenido entre la cantidad de energía que entra al sistema (en este caso la Tierra y su atmósfera) y la energía que salen del sistema, puede generar un cambio climático.</p>
